
        <section id="navbar">
            <nav class="navbar" role="navigation" aria-label="main navigation">
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <v-link-icon-bulma class="navbar-item" icon="fab fa-vuejs" url='#'></v-link-icon-bulma>
                    </div>
                    <a class="navbar-burger burger" aria-label="menu" aria-expanded="false"
                        data-target="navbarBasicExample">
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                        <span aria-hidden="true"></span>
                    </a>
                </div>
    
                <div id="navbarBasicExample" class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item">
                            <v-link-bulma title="link" url='#'></v-link-bulma>
                        </div>
                        <div class="navbar-item">
                            <v-link-bulma title="link" url='#'></v-link-bulma>
                        </div>
                        <div class="navbar-item">
                            <v-link-bulma title="link" url='#'></v-link-bulma>
                        </div>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <div class="navbar-link">
                                <v-link-bulma title="link"></v-link-bulma>
                            </div>
                            <div class="navbar-dropdown">
                                <div class="navbar-item">
                                    <v-link-bulma title="link" url='#'></v-link-bulma>
                                </div>
                                <div class="navbar-item">
                                    <v-link-bulma title="link" url='#'></v-link-bulma>
                                </div>
                                <div class="navbar-item">
                                    <v-link-bulma title="link" url='#'></v-link-bulma>
                                </div>
                                <hr class="navbar-divider">
                                <div class="navbar-item">
                                    <v-link-bulma title="link" url='#'></v-link-bulma>
                                </div>
                            </div>
                        </div>
                    </div>
    
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <div class="buttons">
                                <v-button-rounded-bulma title="button" url='#'></v-button-rounded-bulma>
                                <v-button-rounded-bulma title="button" url='#'></v-button-rounded-bulma>
                            </div>
                        </div>
                    </div>
            </nav>
        </section>
    
    